.planet {
    //clear: both;
    margin-bottom: 30px;
    border-bottom: thin solid rgb(124, 114, 114);

    padding: 0 0 20px;

    ::after {
        content: "";
        clear: both;
        display: block;
    }

    .planet-img { width: 150px; float: left; }
    .planet-name { display: inline-block; margin: 0 0 8px; }
    .planet-description { margin: 0; }
}

main .planet:last-of-type {
    border-bottom: none;
}
